
.logo-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(32, 39, 43);
    border: 1px solid rgb(255, 191, 191);
    align-items: center;
}

/* formats content under middle class (main body content) to be displayed by column and aligned in the center */
.middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(32, 39, 43);
    border: 1px solid rgb(255, 191, 191);
    align-items: center;
}

/* formats featured photo container to arrange conent by column (the title and picture) */
.feat-photo-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* formats autobiography content to a max-width for neatness */
.autobio-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    max-width: 500px;
} 



.feat-autobio{
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.self-photo {
    display: flex;
    align-items: center;
}

/* displays tags under class projects by row with some gap*/
.projects {
    display: flex;
    flex-direction: column;
    color: rgb(32, 39, 43);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

/* aligns the titles of each project to center */
.projects h4 {
   text-align: center;
}

/* formats all children div under class projects to show content by column and 
sets max-width of container(div) to be the same as the picture width to prevent 
the other pictures from being moved around*/
.projects div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px; 
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(32, 39, 43);
    border: 1px solid rgb(255, 191, 191);
    align-items: center;
}

